<a href="https://colab.research.google.com/github/Ch-oi-ty/EDGEIT22041/blob/main/Copy_of_choity_IT22041.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
a = 4
A = "Sally"
#A will not overwrite a

In [7]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [9]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry